/DQB2ModInstaller/.vs
/DQB2ModInstaller/bin
/DQB2ModInstaller/obj
/DQB2ModPacker/bin
/DQB2ModPacker/obj
DQB2ModInstaller/DQB2ModInstaller.csproj
DQB2ModPacker/DQB2ModPacker.csproj
DQB2ModPacker/DQB2ModPacker.csproj.user
DQB2ModInstaller/M.png
